[submodule "temoto_action_engine"]
	path = temoto_action_engine_ros2/temoto_action_engine
	url = https://github.com/temoto-framework/temoto_action_engine
[submodule "temoto_action_designer_ros2/temoto_action_designer"]
	path = temoto_action_designer_ros2/temoto_action_designer
	url = https://github.com/temoto-framework/temoto_action_designer
